<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <div>
        <p>CHÀO MỪNG BẠN ĐẾN VỚI CỬA HÀNG SÁCH KHOA NGUYÊN</p>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        <p>CHÚC QUÝ KHÁCH MUA SẮM VUI VẺ</p>
    </div>
</body>
</html>
