@using OnTap_KTLT
@{
    Layout = null;

    string totalMessage = string.Empty;



    if (IsPost)
    {
        var filePath = Request["filepath"];

        FRACTION result = _Fraction.readFraction(filePath);

        totalMessage = $"{result.numerator}/{result.denomirator}";
    }


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="~/MH_DOC_PHANSO.cshtml" method="post">
            <p>
                <label for="text">File Path: </label><br />
                <input type="text" name="filepath" value="" />
            </p>                        
            <p>

                <input type="submit" value="Read" />
            </p>
        </form>
    </div>
    @totalMessage
</body>
</html>
