@using OnTap_KTLT
@{
    Layout = null;

    string totalMessage = string.Empty;

    POLYGON pol;

    if (IsPost)
    {
        var stringPolyInput = Request["input"];
        pol = ser_Polygon.CreatePolygon(stringPolyInput);


        var result = ser_Polygon.PolygonPerimeter(pol);
        totalMessage = "Result of polygon perimeter is"  + result.ToString();

    }


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="~/MH_TINHCHUVI_DAGIAC.cshtml" method="post">
            <p>
                <label for="text">Polygon Input: </label><br />
                <input type="text" name="input" value="" />
            </p>
            
            <p>

                <input type="submit" value="Calculate" />
            </p>
        </form>
    </div>
    @totalMessage
</body>
</html>
